#page-promotions {
  height: 90vh;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produto {
    width: 230px;
    height: 230px;
}

#btnAnterior {
  margin: 10px;
}

#btnProximo {
  margin: 10px;
}

.card {
  align-items: center;
  border-radius: 20px;
}

.container {
  background-color: blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.products-container  ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
